# Core ML
torch
transformers
datasets
peft
sentence-transformers
accelerate

# Backend
fastapi
uvicorn
python-dotenv
pydantic

# Vector DB
supabase

# LLM
groq

# MCP
fastapi-mcp

# Utils
numpy
pandas
scikit-learn
tqdm
onnx==1.21.0
onnxruntime==1.23.2
optimum==2.1.0
optimum-onnx==0.1.0